[submodule "external/TinyGarble2.0"]
	path = external/TinyGarble2.0
	url = https://github.com/kalyancheerla/TinyGarble2.0.git
[submodule "external/SEAL"]
	path = external/SEAL
	url = https://github.com/microsoft/SEAL.git
